<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="row links w-100 bg-black rounded p-3 position-sticky">
      <div class="container">
        <a class="btn btn-primary mx-3 mb-2" href="/">Home</a>
        <a class="btn btn-primary mx-3 mb-2" href="/price">price</a>
        <a class="btn btn-primary mx-3 mb-2" href="/product">Product</a>
        <a class="btn btn-primary mx-3 mb-2" href="/service">Service</a>
        <a class="btn btn-primary mx-3 mb-2" href="/team">Team</a>
      </div>
    </div>
    <h1 class="mt-5 text-center text-light text-uppercase">{{title}} Page</h1>
  </body>
</html>